# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
output/

# OS
.DS_Store
Thumbs.db

# Next.js
.next/

# Typescript
*.tsbuildinfo
next-env.d.ts

# Production
.github/
test.*

# Database
lib/data/